@{
    ViewData["Title"] = "Excluir Pessoa - Oxe";
}

<div class="display-2 text-center mb-4">
    Deseja realmente excluir esse cadastro
</div>

<form>
    <div class="row w-100 text-center mx-auto">
        <a role="button" class="col btn btn-primary" style="margin-right: 5px;" asp-controller="Oxe" asp-action="Index">Voltar</a>
        <a role="button" class="col btn btn-outline-danger">Excluir</a>
    </div>
</form>